@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    background-image: url('./trees.jpg');
    background-size: min(1500px, 100%);
    background-position: top;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow-y: hidden; */
    /* overflow-x: hidden; */
    font-family: "Open Sans", sans-serif;
}


.container {
    font-family: "Open Sans";
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    flex-wrap: wrap;
    padding: 40px;
    gap: 10px;
    position: fixed;
    left: -7px;
    top: 10px;
    opacity: 80%;
    transform: translateY(100px);
    width: 70%;
    height: max(450px, 50%);
    border: 2px black solid;
    background-color: aliceblue;
    border-radius: 7px;

}

.container .info {
    text-align: left;
    padding: 2px;
    width: calc(300px + 10rem);
    border: .8px solid darkorange;
    height:min-content;
    font-family: inherit;
    font-size: large;
    border-radius: 2px;
    box-shadow: 1px 1px 2px 2px grey;
    text-wrap:balance;
    overflow-wrap: normal;
}



input {
    max-width: 250px;
}



span {
    text-decoration: underline;
    color: darkorange;
    font-family: inherit;
    cursor: pointer;
    padding-right: 2px;
}

input[for="email"]:invalid {
    border-color: red;
} 
input[for="password"]:invalid {
    border-color: red;
}

input[for="password"]:valid {
    border-color: green;
}

button {
    font-family: inherit;
    background-color: darkorange;
    border-radius: 4px;
    box-shadow: 1px 1px grey;
    
}

.header {
    background-color: darkorange;
    opacity: 75%;
    width: 110%;
    text-align: right;
    position: fixed;
    font-style: italic;
    top: 0px;
    right: -7px;
    padding-right: 15px;
    font-family: "Open Sans";
    font-size: xx-large;
    font-weight: 900;
}
.footer {
    position: fixed;
    bottom: 1px;
    left: 2px;
    font-family: inherit;
    font-size:x-small;
}

svg:hover,
button:hover {
    cursor: pointer;
}